@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.App {
  text-align: center;
}

.center-item {
  display: flex;
  justify-content: center;
  text-align: center;
}